.animated-bg {
    position: fixed;  /* Change from absolute to fixed */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;  /* Cover the entire viewport height */
    background:
            linear-gradient(90deg, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.15) 100%),
            linear-gradient(90deg, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0) 10%);
}

.bg-square {
    background: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    opacity: 0.8;
    border: 5px solid rgba(50%, 50%, 50%, 1);
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
    .animated-bg {
        background:
                linear-gradient(90deg, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0.15) 100%),
                linear-gradient(90deg, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0) 10%);
    }
}