.content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    width: 66%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1rem;
}

.projects.reverse {
    flex-direction: column-reverse;
}

.year-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.year-projects.reverse {
    flex-direction: column-reverse;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3vw;
    margin-top: 5rem;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.5vw;
}

p {
    font-size: 1vw;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button.svg-button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

button.svg-button .svg-icon {
    width: 1vw;
    height: 1vw;
}

button.svg-button .svg-icon {
    filter: brightness(0) invert(0);
}

.typewriter {
    opacity: 0;
}

.year-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vw 0;
}

.year-title-container h3 {
    border: 2px solid black;
    padding: 0.25vw 5vw;
    border-radius: 2vw;
}

.year-title-container h3:hover {
    background-color: black;
    color: white;
    transition: 0.25s;
}

.line {
    flex-grow: 1;
    height: 2px;
    border: none;
}

.line.left {
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(0,0,0,1));
}

.line.right {
    background: linear-gradient(90deg, rgba(0,0,0,1), rgba(255,255,255,0));
}

.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: left;
    margin: 1vw 0;
}

.chip {
    padding: 0.125vw 0.5vw;
    border: 1px solid black;
    border-radius: 2vw;
}

.chip:hover {
    background-color: black;
    color: white;
    transition: 0.25s;
}

.overview {
    width: 100%;
    display: flex;
}

.reverse {
    flex-direction: row-reverse;
}

.description {
    width: 50%;
    text-align: left;
    padding: 2vw;
}

.description h4 {
    margin-bottom: 1vw;
}

.illustration {
    width: 50%;
    padding: 1vw;
}

.illustration img,.illustration video {
    width: 100%;
    border-radius: 1vw;
    object-fit: cover;
}

.illustration img:hover,.illustration video:hover {
    box-shadow: 0 0 1vw rgba(0,0,0,0.5);
    transition: 0.25s;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
    button.svg-button .svg-icon {
        filter: brightness(0) invert(1);
    }
    .year-title-container h3 {
        border: 2px solid white;
    }

    .year-title-container h3:hover {
        background-color: white;
        color: black;
    }

    .line.left {
        background: linear-gradient(90deg, rgba(0,0,0,0), rgba(255,255,255,1));
    }

    .line.right {
        background: linear-gradient(90deg, rgba(255,255,255,1), rgba(0,0,0,0));
    }
    .chip {
        border: 1px solid white;
    }
    .chip:hover {
        background-color: white;
        color: black;
    }
    a {
        color: white;
    }
    .illustration img:hover,.illustration video:hover {
        box-shadow: 0 0 1vw rgba(255,255,255,0.5);
    }
}