* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.6;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

main {
    height: max-content;
}